asgiref==3.3.1
Django==3.1.4
django-debug-toolbar==3.2.1
django-jalali-date==0.3.1
django-widget-tweaks==1.4.8
jdatetime==3.6.2
Pillow==8.1.0
pytz==2020.4
sqlparse==0.4.1
redislite==6.0.674960
redis==3.5.3
psutil==5.8.0
# django-mysql==3.11.1
# mysqlclient==2.0.3