{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load custom_tags %}
{% block content %}
<!-- breadcrumb -->


<!-- TOP PART -->







<div class="jumbotron ">
  <div class="card-deck owl-carousel">
{% for singer in singers %}
    <div class="card bg-light" style="height: 400px;">
      <a style="color: rgb(63, 63, 63);  text-decoration: none;
      display: inline-block;" href="{{singer.get_absolute_url}}">

        <img class="card-img-top" src="/media/{{ singer.bg_img }}" alt="{{singer.name}}" style="width:100%;max-height:300px;height:auto">
        <div class="card-body">
          <h4 class="card-title text-center">برترین های {{singer.name}}</h4>
        </div>
      </a>
    </div>
{% endfor %}
  </div>

</div>



<div class="container">

  <br>

  <div dir="ltr">

  </div>
  <div class="row ">


    <div  class="offset-sm-1 mb-3 col-sm-4">
      <div class="card">
        <div class="card-body card-body-no-padding">
          <div class="row ">
            <div class="col-3 ">
              <img class="rounded" style="width:80px;height: 80px;" src="/media/{% if music.album__img %}{{ music.album.img }}{% else %}{{ music.singer.img }}{% endif %}"
                alt="{{music.name}} - {{music.album__name}} - {{title}}">

            </div>
            <div class="col-9  no-gutters">

              <div class="row no-gutters">

                <div class="col-8">
                  <div style="font-size:18px;font-weight:500" class=" my-1">
                  {{music.name}}


                  </div>

                </div>

                <div  data-toggle="tooltip" data-placement="top" title="امتیاز کل" class="col ">
               
                  <b>{{music.avg_rate}}</b>
                  <i style="color:gold;" class="fas fa-star mt-2"></i>
  
                </div>

                  <a style="font-size: 20px;text-decoration: none;color: gray;" href="#"  class="fa fa-ellipsis-v m-1" aria-hidden="true"></a>
                
              </div>

    <div class=" mb-2" style="font-size:13px">
      {{music.album__name|default_if_none:' <br> '}}

        </div>


<div class="row no-gutters align-items-end">
  <div class="col   text-center">
{% if music.like %}
                    <i  value="{{music.id}}" class=" heart fa fa-heart  "></i>
{% else %}
                    <i  value="{{music.id}}"  class=" heart-des fa fa-heart  "></i>

{% endif %}

</div>
        <div    data-toggle="tooltip" data-placement="top" title="امتیاز من"  class="col mb-1">
                  <div style="float: left;" value="{{music.id}}" id="rateYo-{{music.id}}"></div>

                </div>

            </div>
        


            </div>

          </div>


          <div dir="ltr"  class="ready-player-{{music.id}}" style="width: auto;">
            <audio crossorigin>
            
              <source src="/media/{{ music.file_name }}">
            </audio>
          </div>



        </div>
      </div>
    </div>
    <div style="  line-height: 2.3;" class=" mb-3 col-sm-3">
      آلبوم: ستاره های سربی
      <br>  
      آهنگساز: فرید زلاند
      <br>    
      تنظیم : منوچهر چشم آذر
      <br>
    </div>

  </div>

    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">متن موسیقی</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1">نظرات</a>
      </li>
      
    </ul>
  
    <!-- Tab panes -->
    <div class="tab-content">

      <div id="home"  class="container tab-pane active text-center "><br>
        <br>
       

      <p>  عشق اگه روز ازل در دل دیوانه نبود 
      </p>
      <p>  تا ابد زیر فلک ناله مستانه نبود
      </p>
      <p>  نرگس ساقی اگه مستی صد جام نداشت 
      </p>
      <p>  سر هر کوی و گذر این همه میخانه نبود
      </p>
      <p>  من و جام می و دل نقش تو در باده ناب 
      </p>
      <p>  خلوتی بود که در آن ره بیگانه نبود
      </p>
      <p>  کاش آن تب که تو را سوخت مرا سوخته بود 
      </p>
      <p>  بفدای تو مگه این دل دیوانه نبود
      </p>
      <p>  بفدای تو مگه این دل دیوانه نبود 
      </p>
      <p>  تو چرا شمع شدی سوختی ای هستی من
      </p>
      <p>  آن زمانی که تو را سایه پروانه نبود 
      </p>
      <p>  من جدا از تو نبودم بخدا در همه عمر
      </p>
      <p>  قبله گاه دل من جز تو در این خانه نبود 
      </p>
      <p>  کاش آن تب که تو را سوخت مرا سوخته بود
      </p>
      <p>  بفدای تو مگه این دل دیوانه نبود 
      </p>
      <p>  بفدای تو مگه این دل دیوانه نبود
      </p>
      <p>  عشق اگه روز ازل در دل دیوانه نبود 
      </p>
      <p>  تا ابد زیر فلک ناله مستانه نبود
      </p>
      <p>  نرگس ساقی اگه مستی صد جام نداشت 
      </p>
      <p>  سر هر کوی و گذر این همه میخانه نبود
      </p>
      <p>  من و جام می و دل نقش تو در باده ناب 
      </p>
      <p>  خلوتی بود که در آن ره بیگانه نبود
      </p>
      <p>  کاش آن تب که تو را سوخت مرا سوخته بود 
      </p>
      <p>  بفدای تو مگه این دل دیوانه نبود
      </p>
      <p>  بفدای تو مگه این دل دیوانه نبود 
      </p>
      <p>  تو چرا شمع شدی سوختی ای هستی من
      </p>
      <p>  آن زمانی که تو را سایه پروانه نبود 
      </p>
      <p>  من جدا از تو نبودم بخدا در همه عمر
      </p>
      <p>  قبله گاه دل من جز تو در این خانه نبود 
      </p>
      <p>  کاش آن تب که تو را سوخت مرا سوخته بود
      </p>
      <p>  بفدای تو مگه این دل دیوانه نبود 
      </p>
      <p>  بفدای تو مگه این دل دیوانه نبود
      </p>
      <p>  بفدای تو مگه این دل دیوانه نبود 
      </p>
          
            
        <li class="write-new">

          <form action="#" method="post">

              <textarea placeholder="نظر خود را وارد کنید..." name="comment"></textarea>

              <div>
                  <button type="submit">ارسال</button>
                  <br>
              </div>

          </form>
          <br>

      </li>
      <br>

          
        
        
       
      </div>
      <div id="menu1" class="container tab-pane fade"><br>
     
    

		<ul class="comment-section">

			<li class="comment user-comment">

                <div class="info">
                    <a href="#">Anie Silverston</a>
                    <span>4 hours ago</span>
                </div>

                <a class="avatar" href="#">
                    <img src="images/avatar_user_1.jpg" width="35" alt="Profile Avatar" title="Anie Silverston" />
                </a>

                <p>Suspendisse gravida sem?</p>

			</li>

			<li class="comment author-comment">

                <div class="info">
                    <a href="#">مصطفی حسینی</a>
                    <span>1 ساعت قبل</span>


                </div>

                <a class="avatar" href="#">
                    <img src="{% static 'assets/img/person2.png' %}" width="35" alt="Profile Avatar" title="Jack Smith" />
                </a>

                <p>یک پردازش چند مرحله ای می باشد. در این آموزش از کتاب</p>

			</li>

			<li class="comment user-comment">

                <div class="info">
                    <a href="#">Bradley Jones</a>
                    <span>۱ ساعت قبل</span>
                </div>

                <a class="avatar" href="#">
                    <img src="{% static 'assets/img/person.png' %}" width="35" alt="Profile Avatar" title="Bradley Jones" />
                </a>

                <p>یک پردازش چند مرحله ای می باشد. در این آموزش از کتاب</p>

			</li>

            <li class="comment author-comment">

                <div class="info">
                    <a href="#"> حسینی</a>
                    <span>۳ ساعت قبل</span>

                </div>

                <a class="avatar" href="#">
                    <img src="{% static 'assets/img/person2.png' %}" width="35" alt="Profile Avatar" title="Jack Smith" />
                </a>

                <p>
                
                  یک hhhhhhhhhh چند مرحله ای می باشد. در این آموزش از کتاب، به نحوه نصب جنگو فریم ورک وب پایتون و وابستگی های آن می پردازیم
                </p>

            </li>

            <li class="write-new">

                <form action="#" method="post">

                    <textarea placeholder="نظر خود را وارد کنید..." name="comment"></textarea>

                    <div>
                        <button type="submit">ارسال</button>
                        <br>
                    </div>

                </form>

            </li>

		</ul>
    
      </div>
    
    </div>
  
</div>







{% endblock %}
{% block custom_css %}


<style>





.comment-section{
    list-style: none;
    max-width: 800px;
    width: 100%;
    margin: 50px auto;
    padding: 10px;
}

.comment{
    display: flex;
    border-radius: 3px;
    margin-bottom: 45px;
    flex-wrap: wrap;
}

.comment.user-comment{
    color:  #808080;
}

.comment.author-comment{
    color:  #60686d;
    justify-content: flex-end;
}

/* User and time info */

.comment .info{
    width: 17%;
}

.comment.user-comment .info{
    text-align: right;
}

.comment.author-comment .info{
    order: 3;
}


.comment .info a{	/* User name */
    display: block;
    text-decoration: none;
    color: #656c71;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0 3px 0;
}

.comment .info span{	/* Time */
    font-size: 11px;
    color:  #9ca7af;
}


/* The user avatar */

.comment .avatar{
    width: 8%;
}

.comment.user-comment .avatar{
    padding: 10px 18px 0 3px;
}

.comment.author-comment .avatar{
    order: 2;
    padding: 10px 3px 0 18px;
}

.comment .avatar img{
    display: block;
    border-radius: 50%;
}

.comment.user-comment .avatar img{
    float: right;
}





/* The comment text */

.comment p{
    line-height: 1.5;
    padding: 18px 22px;
    width: 50%;
    position: relative;
    word-wrap: break-word;
}

.comment.user-comment p{
    background-color:  #f3f3f3;
}

.comment.author-comment p{
    background-color:  #e2f8ff;
    order: 1;
}

.user-comment p:after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #f3f3f3;
    left: -8px;
    top: 18px;
}

.author-comment p:after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #e2f8ff;
    right: -8px;
    top: 18px;
}




/* Comment form */

.write-new{
    margin: 80px auto 0;
    width: 50%;
}

.write-new textarea{
    color:  #444;
    font: inherit;

    outline: 0;
    border-radius: 3px;
    border: 1px solid #cecece;
    background-color:  #fefefe;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.06);
    overflow: auto;

    width:100%;
    min-height: 80px;
    padding: 15px 20px;
}

.write-new img{
    border-radius: 50%;
    margin-top: 15px;
}

.write-new button{
    float:right;
    background-color:  #87bae1;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    border: 0;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;

    padding: 10px 25px;
    margin-top: 18px;
}



/* Responsive styles */

@media (max-width: 800px){
    /* Make the paragraph in the comments take up the whole width,
    forcing the avatar and user info to wrap to the next line*/
    .comment p{
        width: 100%;
    }

    /* Reverse the order of elements in the user comments,
    so that the avatar and info appear after the text. */
    .comment.user-comment .info{
        order: 3;
        text-align: left;
    }

    .comment.user-comment .avatar{
        order: 2;
    }

    .comment.user-comment p{
        order: 1;
    }


    /* Align toward the beginning of the container (to the left)
    all the elements inside the author comments. */
    .comment.author-comment{
        justify-content: flex-start;
    }


    .comment-section{
        margin-top: 10px;
    }

    .comment .info{
        width: auto;
    }

    .comment .info a{
        padding-top: 15px;
    }

    .comment.user-comment .avatar,
    .comment.author-comment .avatar{
        padding: 15px 10px 0 18px;
        width: auto;
    }

    .comment.user-comment p:after,
    .comment.author-comment p:after{
        width: 12px;
        height: 12px;
        top: initial;
        left: 28px;
        bottom: -6px;
    }

    .write-new{
        width: 100%;
    }
}


</style>




<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" /> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" 
  crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">


<link rel="stylesheet" href="{% static 'vendor/owl_carousel/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/owl_carousel/owl.theme.default.min.css' %}">
  
<style>

.heart {
	color:red;

}
.heart-des {
	color:#aaa;
}
.card-body-no-padding {
    padding: 0.25rem;
}
</style>
{% endblock custom_css %}

{% block custom_js %}




<!-- <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet"> -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/js/star-rating.min.js" -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>


  <script src="{% static 'vendor/owl_carousel/owl.carousel.min.js' %}"></script>
  

<script>


var rateyoclass = {
     
     starWidth: "18px",
     normalFill: "#A0A0A0",
     ratedFill: "yellow",
     numStars: 10,
     maxValue: 10,
     halfStar: true,
     rating:0,
   };







  function ajax_star_submit(id, rate) {
{% if user.is_authenticated %}
        $.ajax({
          type: 'POST',
          url: "{% url 'rate:ajax-star-submit'  %}",
          headers: {'X-CSRFToken': '{{csrf_token}}'},
          data:{
              'id':id,
              'rate':rate,
          },
        });

{% else %}

      warning_login()
{% endif %}
    return true;
  }






document.addEventListener('DOMContentLoaded', function () {
    new GreenAudioPlayer('.ready-player-{{music.id}}', { stopOthersOnPlay: true });

    $("#rateYo-{{music.id}}").rateYo(rateyoclass ).rateYo("option", "onSet",function (rating) {ajax_star_submit($(this).attr('value'),rating)}){% if music.rate  %}.rateYo("option", "rating","{{ music.rate | halfNumber  }}"){% endif %}  ;


  });


     
</script>

<script>

  var vartest;



  function ajax_like_submit(id, class_heart) {
    {% if user.is_authenticated %}
    if(class_heart.includes("des")){
      var status = 0;
    }
    else{
      var status = 1;

    }
        $.ajax({
          type: 'POST',
          url: "{% url 'rate:ajax-heart-submit'  %}",
          headers: {'X-CSRFToken': '{{csrf_token}}'},
          data:{
              'id':id,
              'status':status,
          },
        });
    {% else %}


      warning_login()
    {% endif %}
    return true;
  }

  $(".target").keyup(function () {
    vartest = this.value;
    console.log(vartest);
  });

    $("#sub").click(function () {
      alert(vartest);
    });
  

  $(".heart.fa").click(function() {
  $(this).toggleClass("heart heart-des");
  var id = $(this).attr('value');  
  var class_heart = $(this).attr("class");
  ajax_like_submit(id,class_heart);

  
  });

  $(".heart-des.fa").click(function() {
  $(this).toggleClass("heart heart-des");
    var class_heart = $(this).attr("class");
    var id = $(this).attr('value');  

  ajax_like_submit(id,class_heart);

  });

$(document).ready(function(){
 var owl = $('.owl-carousel');
 owl.owlCarousel({
        responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:2,
            nav:false
        },
        1000:{
            items:4,
            nav:true,
            loop:true
        }
    },
    loop:true,
    rtl:true,
    autoplay:true,
    autoplayTimeout:4000,
    autoplayHoverPause:true
});
});



</script>

{% endblock custom_js %}